/* NavBar.css */

.scenario {
  background-color: #454545;
  color: white;
  font-family: Inter;
  font-weight: 700;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  display: flex;
  z-index: 2;
}

.botoes {
  display: flex;
  align-items: center;
}

.button-novo-mapa {
  display: flex;
  align-items: center;
  background-color: #06bd2d;
  color: white;
  font-size: 30px;
  padding: 50px;
  border-radius: 15px;
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0% { font-size: 20px; }
  50% { font-size: 23px; }
  100% { font-size: 20px; }
}

.button.info {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #C4C4C4;
  color: white;
  border: none;       
  font-size: 40px; 
  cursor: pointer;     
  display: flex;       
  justify-content: center;  
  align-items: center;      
}

.button.info:hover {
  background-color: #9e9999;
}

/* Adicionei este estilo para o botão salvar funcionar visualmente */
.button.save {
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: Inter;
  font-weight: 700;
}

.button.save:hover {
  background-color: #45a049;
}

.button.map {
  background-color: #e39a74;
  color: white;
  border: none;       
  font-size: 15px; 
  cursor: pointer;     
  display: flex;       
  justify-content: center;  
  align-items: center;  
  padding: 10px 20px; /* Adicionado para consistência */
  border-radius: 5px; /* Adicionado para consistência */
}

.button.map:hover {
  background-color: #d68b65;
}

.button.logout {
  background-color: #FF5858;
  color: white;
  cursor: pointer;        
  justify-content: center;  
  align-items: center;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
}

.button.logout:hover {
  background-color: #a80505;
}

/* Resto dos seus estilos originais */
.buttonconf {
  border: none;       
  border-radius: 18px;
  background-color: #353535;
  color: white;
  padding: 11px 120px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 32px;
  font-family: Inter;
  font-weight: 500;
}

.buttonconf2 {
  border: none;       
  border-radius: 18px;
  background-color: #353535;
  color: white;
  padding: 11px 120px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 32px;
  font-family: Inter;
  font-weight: 500;
}

.separarbotoes {
  display: flex;
  justify-content: space-between;
}

.buttonconf:hover {
  background-color: #00962A;
}

.buttonconf2:hover {
  background-color: #FF454F;
}

.textolegal {
  width: 100%;
  height: 160px;
  font-size: 30px;
  align-items: top;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 20px;
  font-family: Inter;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.changename {
  outline: none;
  background: none;
  font-family: Inter;
  color: white;
  font-size: 30px;
  font-weight: 700;
  border: none;
}