body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #E6E6E6;
  max-height: 100vh;
  /* overflow-y: hidden; */
  overflow-y: hidden;
  min-zoom: 70%;
}
  
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  flex: 1;
}
  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #B8B8B8;
    z-index: 2;
  }
  
  .button {
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  
  .save {
    background-color: #4caf50;
    color: white;
  }
  
  .save:hover {
    background-color: #16911b;
    color: white;
  }
  
  .botoes {
    display: flex;
    align-items: center;
    justifycontent: center;
    text-align: center;
  }


  .scenario {
    background-color: #454545;
    color: white;
    font-family: Inter;
    font-weight: 700;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    z-index: 2;
  }

  .novo-mapa {
    display: flex;
    align-items: center;    
  }

  .button-novo-mapa {
    display: flex;
    align-items: center;
    justifycontent: center;
    background-color: #06bd2d;
    color: white;
    padding-right: 10vh;
    padding-left: 10vh;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 15px;
  }

  .button-novo-mapa:hover {
    display: flex;
    align-items: center;
    justifycontent: center;
    background-color: #06bd2d;
    color: white;
    border: white;
    padding-right: 11vh;
    padding-left: 11vh;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 22px;
    border-radius: 15px;
  }
  
  .separator1 {
    background-color: #6E6E6E;
    height: 20px;
  }

  .separator2 {
    background-color: #6E6E6E;
    height: 200px;
  }
  
  .fases-container {
    display: flex;
    align-items: center;
    max-width: 170px; /* Define a largura máxima de 10vh */
    height: 150px;
    background-color: #B8B8B8;
    justify-content: center;
    border-radius: 5px;
  }
  
  .fases-content {
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .fases-text {
    color: black;
    font-size: 110%;
    font-family: Inter;
    font-weight: 500;
    text-align: center;
  }

  .barra1 {
    width: 250px;
    height: 100%;
    background-color: #FFAC81;
  }

  .barra2 {
    width: 250px;
    height: 100%;
    background-color: #FF928B;
  }

  .barra3 {
    width: 250px;
    height: 100%;
    background-color: #FEC3A6;
  }

  .barra4 {
    width: 250px;
    height: 100%;
    background-color: #EFE9AE;
  }

  .barra5 {
    width: 250px;
    height: 100%;
    background-color: #CDEAC0;
  }

  .PickerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;

  }
  
  .stage-container {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 28px;
    margin-left: 160px;
    z-index: 1;
  }

  .selectemote {
    display: flex-column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 250px;
    margin-left: 900px;
    z-index: 1;
  }
  
  .espaco {
    width: 100%;
    height: 80px;
  }
  
  .button.info {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #C4C4C4;
    color: white;
    border: none;       
    font-size: 40px; 
    cursor: pointer;     
    display: flex;       
    justify-content: center;  
    align-items: center;      
  }

  .button.info:hover {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #9e9999;
    color: white;
    border: none;        
    font-size: 42px; 
    cursor: pointer;     
    display: flex;       
    justify-content: center;  
    align-items: center;      
  }

  .button.logout {
    background-color: #FF5858;
    color: white;
    cursor: pointer;        
    justify-content: center;  
    align-items: center;      
  }

  .button.logout:hover {
    background-color: #a80505;
    color: white;
    cursor: pointer;        
    justify-content: center;  
    align-items: center;      
  }
  
  .buttonconf {
    width: 30%;
    border: none;       
    border-radius: 18px;
    background-color: #353535;
    color: white;
    padding: 11px 40px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 32px;
    font-family: Inter;
    font-weight: 500;
  }

  .buttonconfModal {
    width: 10%;
    border: none;       
    border-radius: 18px;
    background-color: #353535;
    color: white;
    padding: 11px 40px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 32px;
    font-family: Inter;
    font-weight: 500;
  }

  .buttonconfModal:hover {
    border: none;       
    border-radius: 18px;
    background-color: #00962A;
    color: white;
    padding: 11px 40px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 32px;
    font-family: Inter;
    font-weight: 500;
  }

  .button-download {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0bcbe2;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
    position: relative;
  }
  
  .button-download:disabled {
    background-color: #9e9e9e;
    cursor: not-allowed;
  }
  
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .loading-spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  

  .buttonconf2 {
    width: 30%;
    border: none;       
    border-radius: 18px;
    background-color: #353535;
    color: white;
    padding: 11px 40px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 32px;
    font-family: Inter;
    font-weight: 500;
  }

  .buttonconf3 {
    width: 20%;
    border: none;
    display: flex;
    justify-content: center;    
    align-items: center;   
    border-radius: 18px;
    background-color: #353535;
    color: white;
    padding: 11px 40px;
    text-decoration: none;
    font-size: 32px;
    font-family: Inter;
    font-weight: 500;
  }

  #houseCount {
    margin-left: 10px;
    width: 70px;
    height: 40px;
    background-color: #737373;
    color: white;
    font-size: 23px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 25px;
    margin-right: 10px;
  }

  .botaosavetamanho{
    /* border: none; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    width: 8%;
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
  }

  .numerocasas {
    margin-right: 7px;
  }
  
  .separarbotoes {
    display: flex;
    justify-content: space-between;
  }

  .buttonconf:hover {
    border: none;       
    border-radius: 18px;
    background-color: #00962A;
    color: white;
    padding: 11px 40px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 32px;
    font-family: Inter;
    font-weight: 500;
  }

  .buttonconf2:hover {
    border: none;       
    border-radius: 18px;
    background-color: #FF454F;
    color: white;
    padding: 11px 40px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 32px;
    font-family: Inter;
    font-weight: 500;
  }

  .textolegal {
    width: 100%;
    height: 160px;
    font-size: 30px;
    align-items: top;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
    font-family: Inter;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
  }

  .input-texto {
    width: 100%;
    height: 60px;
    font-size: 30px;
    align-items: top;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 20px;
    font-family: Inter;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
  }

  .scrollable-container {
    width: 100%; /* Ocupa todo o espaço disponível na largura */
    
  }
  
  .stage-container {
    display: inline-block; /* Permite que a div se ajuste ao tamanho do seu conteúdo */
  }
  